extends ../../layouts/default.pug
include ../../mixins/alert-update-message.pug
include ../../mixins/select-tree.pug

block main
  h1(class="mb-4") Edit product categories

  +alert-update-message-error(5000)

  form(
    action=`${prefixAdmin}/products-category/edit/${data.id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="title") Title
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        value=data.title
      )

    div(class="form-group")
      label(for="parent_id") Parent Category
      select(
        name="parent_id"
        id="parent_id"
        class="form-control"
      )
        option(value="") -- Select parent category --
        if(records)
          +select-tree(records, 1, data.parent_id)

    div(class="form-group")
      label(for="desc") Description
      textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        rows="5"
      ) #{data.description}
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Thumbnail
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        accept="image/*"
        upload-image-input
      )
      img(
        src=data.thumbnail
        upload-image-preview
        class="image-preview"
      )
    div(class="form-group")
      label(for="position") Postion
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Auto increasing position"
        min="1"
        value=data.position
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(data.status == "active" ? true : false)
      )
      label(for="statusActive" class="form-check-label") Active
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(data.status == "inactive" ? true : false)
      )
      label(for="statusInActive" class="form-check-label") Inactive
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Modify