mixin alert-update-message(time)
    - if (messages.success)
        .message.success 
        div(
            class="alert alert-success" 
            show-alert
            data-time=time) #{messages.success} <span close-alert>x</span>
mixin alert-update-message-error(time)
    - if (messages.error)
        .message.error 
        div(
            class="alert alert-danger" 
            show-alert
            data-time=time) #{messages.error} <span close-alert>x</span>