mixin form-change-multi(path)  
    form(
          action=path
          method="POST"
          form-change-multi
        )
          .d-flex.align-items-start
            .form-group   
              select(name="type" class="form-control")
                option(disabled selected) -- Select action --
                option(value="active") Active
                option(value="inactive") Inactive
                option(value="delete-all") Delete all
                option(value="change-position") Change position

            .form-group 
              input(
                type="text"
                name="ids"
                value=""
                class="form-control d-none"
              )
            button(type="submit" class="btn btn-primary") Áp dụng