
extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")


    .row
      .col-12
        .chat
          //- .inner-head
          //-   .inner-avatar EY
          //-   .inner-name Em Yêu
          .inner-body
            .inner-incoming
              .inner-name Em Yêu
              .inner-content
                | A ơi sang nhà e nha, nhà e không có ai ở nhà cả
            .inner-outgoing
              .inner-content
                | Thế à? Ok e iu
            .inner-incoming
              .inner-name Em Yêu
              .inner-content
                | Nhanh nha nhanh nha
            .inner-outgoing
              .inner-content
                | Ck đến rồi mà thấy ai ở nhà đâu e? Khóa cửa mà :(
            .inner-incoming
              .inner-name Em Yêu
              .inner-content
                | Thì em bảo nhà e không ai ở nhà mà :))
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button
               i(class="fa-regular fa-paper-plane")