
extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")


    .row
      .col-12
        .chat
          //- .inner-head
          //-   .inner-avatar EY
          //-   .inner-name Em Yêu
          .inner-body
            each chat in chats
              div(class=(chat.user_id == user.id ? "inner-outgoing": "inner-incoming"))
                if(chat.user_id != user.id && chat.infoUser)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content
                  |#{chat.content}

            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button
                i(class="fa-regular fa-paper-plane")