extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug


block main
    +alert-success(2000)
    +alert-error(2000)

    .container.my-3 
        .row 
            .col-12 
                +box-head("Giỏ hàng")

        .row 
            .col-12 
                table(class="table table-bordered")
                    thead 
                        tr 
                            th STT 
                            th Ảnh 
                            th Tên 
                            th Giá
                            th Số lượng 
                            th Tổng tiền
                            th Hành động 
                    tbody
                        if(products)
                            each item, index in products
                                tr 
                                    td #{index+1}
                                    td 
                                        img(src=item.thumbnail alt="hình ảnh" width="80px")
                                    td 
                                        a(href=`/products/detail/${item.slug}`) #{item.title}
                                    td #{item.priceNew}$
                                    td 
                                        input(
                                        type="number"
                                        name="quantity"
                                        value=item.quantity
                                        min="1"
                                        max=item.stock
                                        product-id=item.id
                                        style="width:60px"
                                        )
                                    td #{item.total}$
                                    td
                                        a(href=`/cart/delete/${item.id}`
                                            class = "btn btn-danger") Xóa
                            else 
                                p Không có sản phẩm nào trong giỏ hàng
                h3(class="text-right") Tổng đơn hàng: #{total}$

                div(class="text-right mt-3")
                    a(href="/checkout" class="btn btn-success") THANH TOÁN
    script(src="/js/cart.js") 