extends ../../layouts/default.pug
include ../../mixins/alert-update-message.pug

block main 
    h1 Cài đặt chung
    +alert-update-message(5000)
    +alert-update-message-error(5000)

    form(
        action=`${prefixAdmin}/settings/general?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="websiteName") Tên website 
            input(
                type="text"
                class="form-control"
                id="websiteName"
                name="websiteName"
                value= (data ? data.websiteName : "")
            ) 
        div(
            class="form-group"
            upload-image
        )
            label(for="logo") Logo 
            input(
                type="file"
                class="form-control-file"
                id="logo"
                name="logo"
                accept="image/*"
                upload-image-input
            )
            img(
                src=(data ? data.logo : "")
                class="image-preview"
                upload-image-preview
            )
        div(class="form-group")
            label(for="phone") Số điện thoại 
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                value=(data ? data.phone : "")
            )
        div(class="form-group")
            label(for="email") Email
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                value=(data ? data.email : "")
            )
        div(class="form-group")
            label(for="address") Địa chỉ
            input(
                type="text"
                class="form-control"
                id="address"
                name="address"
                value=(data ? data.address : "")
            )
        div(class="form-group")
            label(for="copyright") Copyright
            input(
                type="text"
                class="form-control"
                id="copyright"
                name="copyright"
                value=(data ? data.copyright : "")
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật